<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
	<link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script type="text/javascript" src="js/jquery.jsPlumb-1.5.2-min.js"></script>
	<script type="text/javascript" src="js/textae.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.75/jsrender.min.js"></script>
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

	<title>Annotator</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" rel="home" href="#">
					<img style="max-width:100px; margin-top: -7px;" src="./img/unimelb_logo.jpg">
				</a>
				<a class="navbar-brand" href="#">Annotator</a>
			</div>
		<div class="container">
		</div>
	</nav>
	<button id="insert_text_link" class="btn btn-link" onclick="insertSampleText()">insert sample text</button>
	<textarea id="text" class="form-control" rows="6"></textarea>
	<button id="getAnnotationBtn" class="btn btn-primary" onclick="getAnnotationBtnClicked()">Get Annotations</button>
	<button id="clearBtn" class="btn btn-default" onclick="clearText()">Clear</button>
	<div id="parameters">
		<div style="margin-bottom: 20px;">
			<span style="display: block; font-weight: bold;">Select Dictionaries</span>
			<select class="selectpicker" multiple data-actions-box="true" data-width="50%">
				<option>a.xml</option>
				<option>b.xml</option>
				<option>c.xml</option>
			</select>
		</div>
		<div class="parameter">
			<span>Find all matches:</span>
			<label class="radio-inline">
				<input type="radio" name="radio_find_all_matches" value=true> Yes
			</label>
			<label class="radio-inline">
				<input type="radio" name="radio_find_all_matches" value=false checked=true> No
			</label>
		</div>
		<div class="parameter">
			<span>Case sensitive:</span>
			<label class="radio-inline">
				<input type="radio" name="radio_case_sensitive" value=true> Yes
			</label>
			<label class="radio-inline">
				<input type="radio" name="radio_case_sensitive" value=false checked=true> No
			</label>
		</div>
		<div class="parameter">
			<span>Order independent lookup:</span>
			<label class="radio-inline">
				<input type="radio" name="radio_order_independent_lookup" value=true> Yes
			</label>
			<label class="radio-inline">
				<input type="radio" name="radio_order_independent_lookup" value=false checked=true> No
			</label>
		</div>
		<div class="parameter">
			<span>Search strategy:</span>
			<select id="search_strategy" class="form-control" style="width:200px; float:left;">
				<option>Contiguous Match</option>
				<option>Skip Any Match</option>
			</select>
		</div>
	</div>
	<form id="upload-file" method="post" enctype="multipart/form-data">
		<fieldset>
			<label for="file">Select the dictionary you want to upload</label>
			<input name="file" type="file">
			<button id="upload-file-btn" class="btn btn-primary" onclick="uploadFile()">Upload</button>
		</fieldset>
	</form>
</body>
</html>

<script id="template" type="text/x-jsrender">
	<div class="textae-editor" target={{:jsonSrc}}></div>
</script>

<script id="table_template" type="text/x-jsrender">
	<table id="output_table" class="display">
		<thead>
			<tr>
				<th>{{:column1}}</th>
				<th>{{:column2}}</th>
				<th>{{:column3}}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</script>

<script id="table_row_template" type="text/x-jsrender">
	<tr>
		<td>{{:term}}</td>
		<td>{{:span}}</td>
		<td>{{:object}}</td>
	</tr>
</script>